Checks: >
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-implicit-widening-of-multiplication-result,
  -bugprone-narrowing-conversions,
  -bugprone-throwing-static-initialization,
  -bugprone-unchecked-string-to-number-conversion,
  cert-*,
  -cert-dcl50-cpp,
  -cert-err33-c,
  -cert-err34-c,
  -cert-err58-cpp,
  clang-analyzer-*,
  concurrency-*,
  -concurrency-mt-unsafe,
  performance-*,
  -performance-enum-size,
  portability-*,
  -portability-avoid-pragma-once,
  readability-container-size-empty,
  readability-duplicate-include,
  readability-misleading-indentation,
  readability-redundant-control-flow,
  readability-redundant-smartptr-get,
  modernize-*,
  -modernize-use-trailing-return-type,
  cppcoreguidelines-*,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-type-union-access,
  -cppcoreguidelines-pro-type-cstyle-cast,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-narrowing-conversions,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-special-member-functions,
  -modernize-avoid-variadic-functions,
  -cppcoreguidelines-avoid-c-arrays,
  -modernize-avoid-c-arrays,
  -clang-analyzer-unix.StdCLibraryFunctions

WarningsAsErrors: '*'

HeaderFilterRegex: 'src/.*'

FormatStyle: file
