Checks: >
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-implicit-widening-of-multiplication-result,
  -bugprone-narrowing-conversions,
  cert-*,
  clang-analyzer-*,
  concurrency-*,
  performance-*,
  -performance-enum-size,
  portability-*,
  readability-container-size-empty,
  readability-duplicate-include,
  readability-misleading-indentation,
  readability-redundant-control-flow,
  readability-redundant-smartptr-get

WarningsAsErrors: '*'

HeaderFilterRegex: 'src/.*'

FormatStyle: file
