Checks: >
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-implicit-widening-of-multiplication-result,
  -bugprone-narrowing-conversions,
  -bugprone-throwing-static-initialization,
  -bugprone-unchecked-string-to-number-conversion,
  cert-*,
  -cert-dcl50-cpp,
  -cert-err33-c,
  -cert-err34-c,
  -cert-err58-cpp,
  clang-analyzer-*,
  concurrency-*,
  -concurrency-mt-unsafe,
  performance-*,
  -performance-enum-size,
  portability-*,
  -portability-avoid-pragma-once,
  readability-container-size-empty,
  readability-duplicate-include,
  readability-misleading-indentation,
  readability-redundant-control-flow,
  readability-redundant-smartptr-get

WarningsAsErrors: '*'

HeaderFilterRegex: 'src/.*'

FormatStyle: file
